/* Default styles */
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #353540;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Blocks */
.header {
    position: relative;
}

.header__img {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.9;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.header__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

.header__logo {
    color: white;
    font-size: 28px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 50px;
}

.logo__prefix {
    color: #3e9cdc;
}

.nav {
    display: flex;
    font-size: 13px;
    font-weight: 500;
    justify-content: center;
    margin-left: 100px;
}

.nav__link {
    padding: 5px 25px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    transition: background .1s linear;
}

.nav__link:hover {
    color: #3195da;
}

.nav__link.active {
    color: #3e9cdc;
}

.nav__link:not(:nth-child(4n)) {
    margin-right: 40px;
}

/*=======Media=====*/
@media (max-width: 1690px) {
    .header {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
    }
}

@media (max-width: 950px) {
    .nav__link:not(:nth-child(4n)) {
        margin: 0;
    }

    .nav__link {
        padding: 10px 10px;
    }
}

@media (max-width: 450px) {
    .header__logo {
        display: none;
    }

    .nav {
        margin: 0;
    }
}

.page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1920px;
    overflow-x: hidden;
}

.container__title {
    position: relative;
    top: -80px;
}

.title {
    margin-top: 226px;
    margin-left: 325px;
    max-width: 750px;
}

.title__main {
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    text-transform: uppercase;
}

.title__main span {
    color: #3e9cdc;
}

.title__heading {
    margin-top: 65px;
    padding: 0 0 0 10px;
}

.title__text {
    font-size: 20px;
    line-height: 34px;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: -11px;
}

.title__list {
    font-size: 20px;
    line-height: 34px;
    list-style-type: "- ";
}

.title__img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -10;
    max-width: 100%;
    min-height: 850px;
}

/*=======Media===========*/
@media (max-width: 1285px) {
    .title {
        margin-left: 50px;
    }
}

@media (max-width: 950px) {
    .title {
        margin-top: 150px;
    }
}

@media (max-width: 450px) {
    .title {
        margin: 150px 15px 0 15px;
        text-align: center;
    }

    .title h1 {
        font-size: 30px;
        line-height: 30px;
    }

    .title li {
        text-align: start;
        line-height: 26px;
    }

    .btn.btn__title.prime {
        margin-left: 0;
        margin-right: 0;
    }

    .btn.btn__title.light {
        margin-top: 30px;
    }

    .title__img {
        min-height: 750px;
    }
}

.btn {
    width: 183px;
    height: 42px;
    border-radius: 4px;
    background-color: white;
    color: #353540;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    border: 1px solid #353540;
}

.btn:hover {
    cursor: pointer;
}

.btn__title {
    margin-top: 50px;
    margin-left: -5px;
}

.btn__title.light {
    transition-duration: .3s;
    border: 1px solid black;
}

.btn__title:hover {
    color: white;
    background-color: #3e9cdc;
    border: 1px solid white;
}

.btn__title.prime {
    background-color: #3e9cdc;
    color: white;
    border: 1px solid white;
    margin-right: 25px;
}

.btn__title.prime:hover {
    color: #353540;
    background-color: white;
    border: 1px solid #3e9cdc;
}

.btn.dropdown-toggle.drpbtn {
    background-color: white;
    width: 385px;
    height: 48px;
    color: #353540;
    text-transform: none;
    font-size: 18px;
    text-align: left;
}

.btn.btn-light {
    margin-top: 45px;
    margin-left: 40px;
    width: 370px;
    height: 48px;
    color: #353540;
    font-style: normal;
    border: 2px solid #3e9cdc;
    border-radius: 3px;
}

.btn.btn-light:hover {
    color: white;
    background: #3e9cdc;
    border: 2px solid white;
}

.btn__img {
    width: 25px;
    height: 25px;
}

.btn__input {
    width: 370px;
    height: 48px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #3e9cdc;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    text-transform: uppercase;
    transition-duration: .4s;
}

.btn__input:hover {
    background: white;
    color: #3e9cdc;
    border: 1px solid #3e9cdc;
}

.offer__main {
    display: flex;
    position: relative;
    margin: 0;
    top: 98px;
    padding-bottom: 95px;
    background: url('../img/bg_offer.png') no-repeat;
    background-size: 100% 100vh;
    justify-content: center;
}

.offer {
    position: relative;
    max-width: 1200px;
}

.offer__bg {
    position: absolute;
    left: -312px;
    top: -120px;
    z-index: -10;
    max-width: 100%;
    height: auto;
}

.offer__heading {
    margin-top: 124px;
    color: white;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

.offer__heading span {
    color: #3e9cdc;
}

.offer__text {
    color: white;
    margin: 0;
    font-size: 18px;
    text-align: center;
}

.offer__scheme {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    color: white;
    text-align: center;
    background: url('../img/dots.svg') no-repeat 55% 25%;
    background-size: 75%;
}

.offer__item {
    width: 200px;
    font-size: 16px;
    position: relative;
}

.offer__item p {
    width: 150px;
    margin-left: 25px;
    margin-top: 20px;
}

.offer__item:not(:nth-child(6n)) {
    margin-right: 90px;
}

/*===========MEdia===========*/
@media (max-width: 1400px) {
    .offer__main {
        top: 0;
    }

    .offer__scheme {
        background-size: 75%;
        background-position: 56% 25%;
    }

    .offer__bg {
        width: auto;
    }
}

@media (max-width: 1285px) {
    .offer__scheme {
        margin-left: 100px;
        background: none;
    }

    .offer__item {
        display: flex;
        flex-wrap: wrap;
        width: 100px;
        font-size: 12px;
    }

    .offer__item p {
        margin-top: 10px;
        margin-left: 0;
    }

    .offer__item .offer__img {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 950px) {
    .offer__main {
        top: -100px;
    }

    .offer {
        margin-top: 50px;
    }

    .offer__item:not(:nth-child(5n)) {
        margin-right: 50px;
    }
}

@media (max-width: 450px) {
    .offer__main {
        margin-top: -75px;
        background-size: 100% 1900px;
    }

    .offer {
        max-width: 370px;
    }

    .offer__title {
        margin-top: -90px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .offer__title .offer__heading {
        display: flex;
        width: 370px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .offer__title .offer__text {
        display: flex;
    }

    .offer__scheme {
        margin: 50px 0 0 35%;
        flex-direction: column;
        justify-content: center;
    }

    .offer__scheme .offer__item:not(:nth-child(5n)) {
        margin-right: 0px;
    }
}

.offer__input {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.dropdown-menu {
    width: 370px;
    max-height: 170px;
    overflow-y: scroll;
    opacity: 0.9;
    color: white;
    background: rgba(61, 64, 80, 0.9);
}

.dropdown-menu:hover {
    background: #3d4050;
}

.dropdown-menu::-webkit-scrollbar {
    width: 6px;
    background-color: #3d4050;
}

.dropdown-menu::-webkit-scrollbar-thumb {
    width: 6px;
    background-color: #3e9cdc;
    border-radius: 10px;
}

.dropdown-menu li {
    height: 50px;
    color: white;
    background-color: #3d4050;
}

.dropdown-menu li a {
    color: white;
}

.dropdown-menu li a:hover {
    color: #3e9cdc;
    background: #3d4050;
}

.input {
    width: 370px;
    height: 48px;
    margin-left: 30px;
    padding: 10px;
    border-radius: 3px;
    font-size: 18px;
}

.input:focus {
    outline: none;
}

.offer__input {
    display: flex;
    flex-wrap: wrap;
}

.input__slider {
    margin-top: 30px;
}

.slider__text {
    color: white;
    display: flex;
    flex-wrap: nowrap;
    font-size: 18px;
}

.slider {
    width: 780px;
    background: #66666e;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: white;
    border-radius: 4px;
    opacity: 0.7;
    transition: opacity .2s;
}

.slider:focus {
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border: 0;
    background: url('../img/bg_offer.png') no-repeat;
    cursor: pointer;
    background-size: 100%;
}

.slider::-moz-range-thumb {
    width: 30px;
    height: 30px;
    border: 0;
    background: url("../img/scroll.svg") no-repeat;
    cursor: pointer;
    background-size: 100%;
}

#demo {
    margin-left: 410px;
    color: white;
}

.outline__svg {
    width: 5px;
    height: 5px;
    color: black;
}

/*===========MEdia===========*/
@media (max-width: 1400px) {
    .offer__input .input {
        width: 300px;
    }

    .offer__input .btn.dropdown-toggle.drpbtn {
        width: 300px;
    }

    .offer__input .input__slider {
        width: 60%;
    }

    .offer__input .input__slider #demo {
        margin-left: 300px;
    }

    .offer__input .input__slider .slider {
        width: 700px;
    }

    .offer__input .btn.btn-light {
        margin-left: 40px;
        width: 300px;
    }
}

@media (max-width: 1285px) {
    .offer__input {
        margin: 50px 50px;
    }

    .offer__input .input {
        width: 270px;
    }

    .offer__input .btn.dropdown-toggle.drpbtn {
        width: 270px;
    }

    .offer__input .input__slider {
        width: 60%;
    }

    .offer__input .input__slider #demo {
        margin-left: 200px;
    }

    .offer__input .input__slider .slider {
        width: 600px;
    }

    .offer__input .btn.btn-light {
        margin-left: 60px;
        width: 270px;
    }
}

@media (max-width: 950px) {
    .offer__main {
        top: 30px;
    }

    .offer__input {
        margin: 50px 50px;
    }

    .offer__input .input {
        width: 220px;
    }

    .offer__input .btn.dropdown-toggle.drpbtn {
        width: 220px;
        padding-left: 5px;
    }

    .offer__input .input__slider {
        width: 80%;
    }

    .offer__input .input__slider #demo {
        margin-left: 250px;
    }

    .offer__input .input__slider .slider {
        width: 650px;
    }

    .offer__input .btn.btn-light {
        margin-left: 60px;
        width: 270px;
    }

    .btn__input {
        margin-top: 45px;
    }
}

@media (max-width: 450px) {
    .input__slider {
        max-width: 370px;
    }

    .input {
        margin: 10px 0;
    }

    .slider__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 270px;
        text-align: center;
        margin-left: -25px;
    }

    #demo {
        position: relative;
        left: -130px;
        margin-left: 0;
    }

    .slider {
        position: relative;
        left: -45px;
        max-width: 300px;
    }

    .btn.btn-light {
        margin: 50px 0 0 0;
        position: relative;
        left: -25px;
    }
}

.footer {
    margin-top: 88px;
    padding: 40px;
    background-color: #3d4050;
}

.footer .container {
    display: flex;
    justify-content: space-between;
}

.footer .container a {
    transform: 0.3;
    text-decoration: none;
    color: white;
}

.footer .container a span {
    text-transform: uppercase;
}

.footer .container a:hover {
    text-decoration: none;
    color: #3e9cdc;
}

.copyrights {
    margin-right: 60px;
    position: relative;
}

.copyrights::after {
    position: absolute;
    right: -45px;
    content: "";
    height: 30px;
    border: 0.5px solid white;
    background-color: white;
}

.pay {
    display: flex;
    margin-right: 60px;
    position: relative;
}

.pay::after {
    position: absolute;
    right: -45px;
    content: "";
    height: 30px;
    border: 0.5px solid white;
    background-color: white;
}

.pay__item:not(:nth-child(3n)) {
    margin-right: 30px;
}

.contacts a:not(:nth-child(2n)) {
    margin-right: 30px;
}

.copy__icon {
    margin-top: -5px;
    width: 15px;
    height: 15px;
    fill: white;
}

.pay__icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    fill: #3e9cdc;
}

/*=====Media========*/
@media (max-width: 1400px) {
    .footer {
        font-size: 12px;
        margin-top: -10px;
    }
}

@media (max-width: 1285px) {
    .footer {
        font-size: 10px;
        margin-top: -20px;
    }
}

@media (max-width: 950px) {
    .footer {
        font-size: 10px;
        text-align: center;
    }

    .footer svg {
        display: none;
    }

    .copyrights {
        margin-right: 10px;
    }

    .copyrights::after {
        display: none;
    }

    .pay {
        margin-right: 10px;
    }

    .pay::after {
        display: none;
    }
}

@media (max-width: 450px) {
    .footer {
        z-index: 1;
        padding: 15px;
    }

    .footer .container {
        align-items: center;
        padding: 0;
    }

    .contacts a:not(:nth-child(2n)) {
        margin: 0;
    }
}
